body {
    background-color: var(--cor-fundo);
    font-family: "Figtree", sans-serif;
}

.container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    width: 360px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 8px 8px 0px 0px #000000;
}

.card .ilustracao {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.card .ilustracao img {
    width: 300px;
    border-radius: 8px;
}

.informacoes {
    margin-left: 30px;
}

.informacoes .tag {
    background-color: var(--cor-fundo);
    max-width: 90px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: var(--cor-texto-escuro);
    font-weight: 800;
    margin-bottom: 15px;
}

.informacoes h1 {
    margin: 20px 0;
    color: var(--cor-texto-escuro);
    transition: 0.2s;
}

.informacoes h1:hover {
    color: var(--cor-fundo);
    cursor: pointer;
}

.informacoes .descricao {
    color: var(--cor-texto-medio);
    margin-bottom: 20px;
}

.informacoes .autor {
    display: flex;
    align-items: center;
}

.informacoes .autor img {
    height: 40px;    
}

.informacoes .autor p {
    margin-left: 10px;
    color: var(--cor-texto-escuro);
    font-weight: 800;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}


.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #3b82f6;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #06b6d4;
}

.footer-inspiration {
    font-size: 13px;
    color: hsl(212, 6%, 90%);
    margin-top: 8px;
}

.footer-inspiration a {
    color: #f59e0b;
    text-decoration: none;
}

.footer-inspiration a:hover {
    text-decoration: underline;
}