body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.container {
    max-width: 1100px;
    text-align: center;
}

.intro {

    max-width: 500px;
    margin: 50px auto 4rem;
}

.intro h1 {
    font-weight: 200;
    color: var(--cor-neutral-400);
    font-size: 1.8rem;
}

.intro h2 {
    font-weight: 600;
    color: var(--cor-neutral-500);
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

.intro p {
    color: var(--cor-neutral-400);
    font-size: 0.95rem;
    line-height: 1.5;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    text-align: left;
    position: relative;
    border-top: 4px solid transparent;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

.card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: var(--cor-neutral-500);
}

.card p {
    font-size: 0.9rem;
    color: var(--cor-neutral-400);
    line-height: 1.5;
    margin-bottom: 2rem;
}

.card img {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.middle-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-supervisor {
    border-top-color: var(--cor-primary-cyan);
}

.card-team {
    border-top-color: var(--cor-primary-red);
}

.card-karma {
    border-top-color: var(--cor-primary-orange);
}

.card-calculator {
    border-top-color: var(--cor-primary-blue);
}

.footer {
    text-align: center;
    background-color: var(--cor-fundo);
    color: var(--cor-neutral-500);
    margin: 20px;
    padding: 25px 15px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  
  .footer-links {
    margin: 10px 0;
  }
  
  .footer-links a {
    color: var( #3b82f6);
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: var( #06b6d4);
  }
  
  .footer-inspiration {
    font-size: 13px;
    color: var( #ccc);
    margin-top: 8px;
  }
  
  .footer-inspiration a {
    color: var( #f59e0b);
    text-decoration: none;
  }
  
  .footer-inspiration a:hover {
    text-decoration: underline;
  }