.container {
    max-width: 1100px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .intro {
    max-width: 500px;
    margin: 0 auto 4rem;
  }
  
  .intro h1 {
    font-weight: 200;
    color: var(--clr-gray-blue);
    font-size: 1.8rem;
  }
  
  .intro h2 {
    font-weight: 600;
    color: var(--clr-dark-blue);
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }
  
  .intro p {
    color: var(--clr-gray-blue);
    font-size: 0.95rem;
    line-height: 1.5;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    text-align: left;
    position: relative;
    border-top: 4px solid transparent;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-8px);
  }
  
  .card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: var(--clr-dark-blue);
  }
  
  .card p {
    font-size: 0.9rem;
    color: var(--clr-gray-blue);
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  
  .card img {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
  }
  
  .card-supervisor {
    border-top-color: var(--clr-cyan);
  }
  
  .card-team {
    border-top-color: var(--clr-red);
  }
  
  .card-karma {
    border-top-color: var(--clr-orange);
  }
  
  .card-calculator {
    border-top-color: var(--clr-blue);
  }
  
  .middle-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }