@media (max-width: 900px) {
    .cards {
      grid-template-columns: 1fr;
    }
  
    .middle-cards {
      flex-direction: column;
    }
  
    .card {
      text-align: center;
    }
  
    .card img {
      position: static;
      margin: 1.5rem auto 0;
      display: block;
    }
  }