body {
    background-color: var(--navy-color-950);
    color: var(--white-main);
}

.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 400px;
    border-radius: 5px;
    background-color: var(--blue-color-950);
}

.card .information {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-top: 65px;
}

 .card .information h1 {
    font-family: var(--font-inter);
    margin: 0 85px 25px 0;
    letter-spacing: 1px;
}

.card .information h1 span {
    color: var(--purple-color-500);
}

.card .information p {
    margin: 0 100px 55px 0;
    color: var(--white-paragraph);
    line-height: 25px;
    font-family: var(--font-inter);
    font-size: 13px;
}

.card .stats  {
    display: flex;
    gap: 60px;
}

.card .stats li {
    display: flex;
    flex-direction: column;
}

.card .stats li strong {
    font-size: 25px;
    margin-bottom: 8px;
}

.card .stats li span {
    font-size: 12px;
    color: var(--white-stat);
    font-family: var(--font-lexend);
    letter-spacing: 1px;
}

.card .images {
    position: relative;
    display: inline-block;
}

.card .img-mobile {
    display: none;
}

.card .img-desktop {
    width: 485px;
    height: 400px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
}

.card .images::after {
    content: '';
    position: absolute;
    inset: 0; 
    background-color: var(--purple-color-500);
    mix-blend-mode: multiply;
    opacity: 0.7;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.footer-dev {
    color: #fff;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #3b82f6;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #06b6d4;
}

.footer-inspiration {
    font-size: 13px;
    color: hsl(212, 6%, 44%);
    margin-top: 8px;
}

.footer-inspiration a {
    color: #f59e0b;
    text-decoration: none;
}

.footer-inspiration a:hover {
    text-decoration: underline;
}