@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: var(--color-primary-700) url(../images/bg-desktop.svg) no-repeat center/cover;
    color: hsl(0, 0%, 100%);
}

.header {
    margin-left: 8rem;
}

.header img {
    width: 200px;
    height: 200px;
}

.hero {
    display: flex;
    margin-left: 8rem;
    gap: 150px;
    height: 80vw;
}

.hero-content {
    margin-top: 5rem;
    max-width: 35rem;
    
}

.hero-content h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 1.4;
    
}

.hero-content p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 4rem;
}

.hero-content button {
    background-color: #fff;
    color: var(--color-primary-700);
    padding: 15px 60px;
    border-radius: 3rem;
    margin-left: 1rem;
    font-size: 1.4rem;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hero-content button:hover {
    background-color: var(--color-primary-400);
}

.footer-icon {
    display: flex;
    justify-content: end;
    gap: 2rem;
    margin-right: 5rem;
}

.footer-icon a {
    font-size: 1.3rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.footer-icon a:hover {
    color: var(--color-primary-400);
    border: 1px solid var(--color-primary-400);
}

