@media (max-width: 480px) {
    body {
      background: var(--color-primary-700) url(../images/bg-mobile.svg) no-repeat center/cover;
      text-align: center;
    }
  
    .header {
      margin: 2rem auto;
    }
  
    .header img {
      width: 120px;
      height: 120px;
    }
  
    .hero {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      gap: 3rem;
      height: auto;
    }
  
    .hero-content {
      margin-top: 1rem;
      max-width: 90%;
    }
  
    .hero-content h1 {
      font-size: 1.8rem;
    }
  
    .hero-content p {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  
    .hero-content button {
      padding: 12px 40px;
      font-size: 1.2rem;
      margin: 0 auto;
    }
  
    .footer-icon {
      justify-content: center;
      margin: 3rem 0 2rem 0;
      gap: 1rem;
    }
  
    .footer-icon a {
      width: 35px;
      height: 35px;
      font-size: 1.1rem;
    }
  
    .footer {
      height: auto;
      padding: 20px 10px;
      font-size: 12px;
    }
  
    .footer-links a {
      margin: 0 5px;
    }
  }