body {
    background-color: var(--cor-neutra-cream);
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.imagem .img-desktop {
    display: block;
    width: 350px;
    height: 480px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.imagem .img-mobile {
    display: none;
}

.container-descricao {
    background-color: var(--cor-neutra-white);
    width: 320px;
    height: 480px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: 35px 0 0 30px;
}

.container-descricao .perfume {
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 500;
    color: var(--cor-neutra-grey);
    margin-bottom: 25px;
}

.container-descricao h1 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: var(--cor-neutra-black);
    font-size: 28px;
    line-height: 1.2;
    padding-right: 80px;
    margin-bottom: 30px;
}

.container-descricao .descricao {
    color: var(--cor-neutra-grey);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    padding-right: 50px;
    margin-bottom: 28px;
}


.container-descricao .preco {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 35px;
}

.preco .promocao {
    font-family: "Fraunces", serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--cor-primaria-500);
}

.preco .preco-original {
    color: var(--cor-neutra-grey);
}

.container-descricao .btn-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor-primaria-500);
    color: var(--cor-neutra-white);
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s;
}

.container-descricao .btn-carrinho:hover {
    background-color: var(--cor-primaria-700);
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #3b82f6;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #06b6d4;
}

.footer-inspiration {
    font-size: 13px;
    color: hsl(212, 6%, 44%);
    margin-top: 8px;
}

.footer-inspiration a {
    color: #f59e0b;
    text-decoration: none;
}

.footer-inspiration a:hover {
    text-decoration: underline;
}