:root {
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
  
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
  
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
  
    --ff-primary: "DM Sans", system-ui, sans-serif;
  
    --fs-100: 0.875rem;
    --fs-200: 1rem;
    --fs-300: 1.25rem;
    --fs-400: 1.5rem;
    --fs-500: 2rem;
    --fs-600: 2.5rem;
    --fs-700: 3rem;
  
    --radius-sm: 0.5rem;
    --radius-md: 1rem;
    --radius-lg: 1.5rem;
  
    --shadow-sm: 0 2px 6px rgba(0,0,0,0.08);
    --shadow-md: 0 4px 12px rgba(0,0,0,0.1);
  }