html {
    font-size: 62.5%;
}

body {
    font-family: "League Spartan", sans-serif;
    background-color: var(--color-white);
    background-image: 
                    url(../images/bg-pattern-top-desktop.svg),
                    url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    min-height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Parte de cima do projeto */

.container-top {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    gap: 20rem;
}


.intro h1 {
    font-size: 5rem;
    color: var(--color-primary-dark);
    max-width: 350px;
}

.intro p {
    margin-top: 35px;
    font-size: 1.8rem;
    max-width: 450px;
    color: var(--color-neutral-dark);
    line-height: 1.2;
}

.rating-item {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-light);
    margin-top: 20px;
    gap: 40px;
    padding: 15px 20px;
    border-radius: 10px;
}

.rating-item-1 {
    margin-right: 80px;
}

.rating-item-2 {
    margin-left: 40px;
    margin-right: 40px;
}

.rating-item-3 {
    margin-left: 80px;
}

.icon-star {
    display: inline-block;
    width: 100px;  
    height: 20px;
    background: 
                url('../images/icon-star.svg') no-repeat 0 50%,
                url('../images/icon-star.svg') no-repeat 20px 50%,
                url('../images/icon-star.svg') no-repeat 40px 50%,
                url('../images/icon-star.svg') no-repeat 60px 50%,
                url('../images/icon-star.svg') no-repeat 80px 50%;
    background-size: 15px 15px;
}

.rating-item .reviews {
    padding-right: 50px;
    color: var(--color-primary-dark);
    font-weight: 700;
    font-size: 1.6rem;
}

/* Parte de baixo do projeto */

.container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers-comments {
    display: flex;
    margin-top: 8rem;
    gap: 20px;
}

.card-customers {
    background-color: var(--color-primary-dark);
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.irene {
    margin-top: 20px;
    margin-bottom: -20px;
}

.anne {
    margin-top: 40px;
    margin-bottom: -40px;
}

.customers-hearder {
    display: flex;
    margin: 40px 0 0 30px;
    gap: 20px;
}

.customers-hearder img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.author h3 {
    color: var(--color-white);
    font-weight: 500;
    font-size: 1.4rem;
}

.author span {
    color: var(--color-primary-soft);
    font-size: 1.4rem;
}

.card-customers p {
    margin: 30px 0 40px 30px;
    font-size: 1.6rem;
    padding-right: 50px;
    color: var(--color-white);
    line-height: 1.2;
    font-weight: 400;
}

.footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  
  .footer-links {
    margin: 10px 0;
  }
  
  .footer-links a {
    color: #3b82f6;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color:  #06b6d4;
  }
  
  .footer-inspiration {
    font-size: 13px;
    color: hsl(212, 6%, 44%);
    margin-top: 8px;
  }
  
  .footer-inspiration a {
    color:  #f59e0b;
    text-decoration: none;
  }
  
  .footer-inspiration a:hover {
    text-decoration: underline;
  }