html {
    background-color: var(--cor-clara);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }

.container {
    max-width: 900px;
    background-color: #fff;
    border-radius: 20px;
    

}

.container .img-omelete {
    display: flex;
    justify-content: center;
    padding: 35px;
}

.container .img-omelete img {
    max-width: 830px;
    border-radius: 15px;
}

.receita {
    padding: 0 35px 0 35px;
    max-width: 900px;
}

.receita .titulo-receita {
    font-family: var(--fonte-primaria);
    font-weight: var(--peso-padrao);
    color: var(--cor-stone-900);
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.receita .texto-receita {
    padding-bottom: 30px;
}

.preparacao {
    background-color: var(--cor-clara);
    max-width: 860px;
    margin: 0 35px;
    padding: 20px;
    border-radius: 10px;
}

.preparacao .titulo-preparacao {
    padding: 0 0 15px 8px;
    color: var(--cor-escura);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.preparacao .lista-preparacao {
    padding-left: 35px;
}

.container-instrucoes {
    max-width: 800px;
} 

.padding-left-1 ol li::marker {
    font-size: 12px;
    font-weight: 800;
} 

.padding-left-1 .texto-nutricao {
    padding: 0 0 20px 15px;
}

.container-tabela {
    margin-right: 35px;
}

.container-tabela table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 35px;

}

.padding-left-1 td {
    border-bottom: 1px solid var(--cor-stone-150);
    padding: 10px 0 10px 35px;
    color: var(--cor-stone-900);
    font-weight: 400;
}

.padding-left-1 tr:last-child td {
    border-bottom: none;
    padding-bottom: 50px;
  }

.cor-escura-tabela {
    color: var(--cor-escura);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}


.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #3b82f6;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #06b6d4;
}

.footer-inspiration {
    font-size: 13px;
    color: hsl(212, 6%, 44%);
    margin-top: 8px;
}

.footer-inspiration a {
    color: #f59e0b;
    text-decoration: none;
}

.footer-inspiration a:hover {
    text-decoration: underline;
}