body {
    color: var(--color-neutral-100);
    background-color: var(--color-neutral-100);
}

.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    min-height: 630px;
    width: auto;
    max-width: 380px;
    padding-left: 55px;
    padding-top: 60px;
}

.card img {
    width: 75px;
}

.card-sedan {
    background-color: var(--color-primary-500);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-suvs {
    background-color: var(--color-primary-800);
}

.card-luxury {
    background-color: var(--color-primary-950);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card .default-title {
    font-family: "Big Shoulders", sans-serif;
    font-size: 45px;
    font-weight: 700;
    margin-top: 45px;
}

.card .std-p {
    margin-top: 30px;
    padding-right: 60px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: var(--color-transparent-white);
}

.card .btn {
    margin-top: 100px;
    border: none;
    background-color: var(--color-neutral-100);
    padding: 20px 50px;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.btn-sedan {
    color: var(--color-primary-500);
}

.btn-suv {
    color: var(--color-primary-800);
}

.btn-luxury {
    color: var(--color-primary-950);
}

.btn:active {
    border: 2px solid var(--color-transparent-white);
    color: var(--color-transparent-white);
}

.btn-sedan:active {
    background-color: var(--color-primary-500);
}

.btn-suv:active {
    background-color: var(--color-primary-800);
}

.btn-luxury:active {
    background-color: var(--color-primary-950);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.footer-dev {
    color: #000;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #3b82f6;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #06b6d4;
}

.footer-inspiration {
    font-size: 13px;
    color: hsl(212, 6%, 44%);
    margin-top: 8px;
}

.footer-inspiration a {
    color: #f59e0b;
    text-decoration: none;
}

.footer-inspiration a:hover {
    text-decoration: underline;
}