body {
    background-color: var(--cor-fundo);
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    background-color: var(--cor-card);
    width: 320px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo img {
    border-radius: 50%;
    width: 60px;
    margin: 30px 0 20px 0;
}

.informacoes {
    text-align: center;
    color: #fff;
}

.informacoes h1 {
    font-size: 18px;
    font-weight: var(--peso-fonte);
}

.informacoes h3 {
    font-size: 10px;
    margin: 10px 0 25px 0;
    color: var(--cor-clara);
    font-weight: var(--peso-fonte);
}

.informacoes p {
    font-size: 12px;
}

.lista li {
    background-color: var(--cor-lista);
    width: 250px;
    margin: 20px 0 10px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    transition: 0.4s;
}

.lista li a {
    color: #fff;
    font-weight: var(--peso-fonte);
}

.lista li:hover {
    background-color: var(--cor-clara);
}

.lista li:hover a {
    color: #000;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.footer-dev {
    color: #fff;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #3b82f6;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #06b6d4;
}

.footer-inspiration {
    font-size: 13px;
    color: hsl(212, 6%, 90%);
    margin-top: 8px;
}

.footer-inspiration a {
    color: #f59e0b;
    text-decoration: none;
}

.footer-inspiration a:hover {
    text-decoration: underline;
}