body {
    font-family: "Outfit", sans-serif;
    background-color: var(--cor-slate-300);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
}

.card-qr-code {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-white);
    width: 300px;
    height: 480px;
    border-radius: 10px;
}

.card-qr-code picture {
    display: flex;
    justify-content: center;
    margin: 15px 0 10px 0;
}

.card-qr-code picture img {
    width: 270px;
    height: 250px;
    border-radius: 10px;
}

.card-qr-code h1 {
    text-align: center;
    font-size: 22px;
    padding: 0 10px;
    color: var(--cor-slate-900);
    font-weight: 700;
}

.card-qr-code p {
    text-align: center;
    font-size: 15px;
    margin-top: -2px;
    padding: 0 20px;
    color: var(--cor-slate-500);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #3b82f6;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #06b6d4;
}

.footer-inspiration {
    font-size: 13px;
    color: hsl(212, 6%, 44%);
    margin-top: 8px;
}

.footer-inspiration a {
    color: #f59e0b;
    text-decoration: none;
}

.footer-inspiration a:hover {
    text-decoration: underline;
}