@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--color-teal-100);
  color: var(--color-gray-500);
}


button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

h1, h2, h3 {
  color: var(--color-teal-500);
  margin-top: 0;
}

p {
  margin: 0.5rem 0;
}
